@model IEnumerable<AppSuperheroes.Entities.Superpower>

@{
    ViewData["Title"] = "Superpowers List";
}

<h1>Superpowers</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Superpower</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Power Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.PowerName</td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning">Edit</a> |
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>